@import "tailwindcss";
@import "./styles/theme.css";

@custom-variant dark (&:where(.dark, .dark *));

select option {
  background-color: #ffffff;
  color: #111827;
}

.dark select option {
  background-color: #1f2a3d;
  color: #ffffff;
}